<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Curated Soundtrack</title>
  <link rel="stylesheet" href="home.css" />
</head>
<body>
  <header>
    <h1>Your Curated Playlist!</h1>
  </header>

  <main>
    <div id="playlist-container">
      <div id="playlist">
        <h2>Playlist Goes Here!</h2>
      </div>
    </div>

    <button class="playlistButton">Enjoy Listening!</button>
  </main>

  <script src="script.js"></script>
</body>
</html>
